<html> 
<head> 
  <title>Tambah Mahasiswa - UDB</title> 
</head> 
<body> 
  <h2>TAMBAH MAHASISWA</h2>   <a href="/">Batal</a> 
  <hr> 
  <form method="POST" action="/tambah">      
      <label>NIM: <br> 
	       	<input name="nim" type="text" value=""> 
      </label> 
      <br> 
      <label>Nama: <br> 
	       	<input name="nama" type="text" value=""> 
      </label> 
      <br> 
      <label>Program Studi: <br> 
        <input name="progdi" type="text" value=""> 
      </label> 
      <br> 
      <label>Semester: <br> 
        <input name="smt" type="number" value=""> 
      </label> 
      <br> 
      <input type="submit" value="Tambah" /> 
  </form> 
 
</body> 
</html>
